@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('card.css');
@import url('login.css');
@import url('profile.css');
@import url('aboutus.css');
@import url('footer.css');
@import url('canvas.css');
@import url('home.css');
@import url('loading.css');
@import url('record.css');
@import url('navbar.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #1F2C43;
	font-family: Playfair Display, serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#app {
	flex-grow: 1;
  }
  
  footer {
	margin-top: auto;
  }

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.tp-bgc-primary {
	background-color: #1F2C43;
}
  
.tp-bgc-secondary {
	background-color: #08151C;
}

.tp-color-primary {
	color: #4A3F24;
}
.tp-color-secondary {
	color: #E5CC5E;
}

.text-border {
	text-shadow: -1px 0 rgb(238, 248, 206), 0 1px rgb(238, 248, 206), 1px 0 rgb(238, 248, 206), 0 -1px whitesmoke;
}

.navbar {
	background-color: #08151C;
	border-bottom: 1px solid #E5CC5E; 
}

.default-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
    position: relative;
    overflow: hidden; 
}

.circle-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
    transition: transform 0.1s ease; 
}

.sized-box {
	width: 10px;
	height: 50px;
}

.tp-btn-primary {
	background-color: #1F2C43 !important;
	border: 1px double #E5CC5E;
	border-width: 5px;
	color: #E5CC5E;
}

.tp-btn-primary:hover {
	background-color: #08151C !important;
	border: 1px double #E5CC5E;
	border-width: 5px;
	color: #E5CC5E;
}


.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; 
  }
  
  .loading-spinner {
	border: 4px solid #f3f3f3; 
	border-top: 4px solid #3498db; 
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }